---
layout: default
---

<div class="page-container no-border">
    <h1>Bem Vindo</h1>
    <p>Welcome to Columbia University Digital Humanities—the central informational portal for the varied digital humanities work at Columbia University. We aim for a broad overview, and provide introduction to the people, teams and projects that make Columbia one of the most exciting spaces for Digital Humanities in the world today. Columbia University has a rich history in humanities and computing, and today we see a thriving and diverse range of communities of practice made up of emergent and established scholars, librarians and technologists working together across disciplines and institutional boundaries. Our portal is meant as much as a roadmap for ourselves, as a testament to the outside world of the past, present and future of our collective work. We hope the site will also give further incentive to those considering joining Columbia to work and study with us.</p>

    <p>The site was built and will be updated with the contributions of a community of <em>ambassadors</em> from many departments and divisions at the university at the behest of the Dean of Humanities, Sharon Marcus. We welcome any projects, people and teams who are currently working in digital humanities at Columbia University. Please note, that our showcase reflects our past and current activity, and is not meant as an entry point to the rich resources available to get started or support digital humanities at Columbia. The Digital Humanities Center is building a sister site at the moment for that purpose.</p>
</div>
